<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Listar Basculas</title>

  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <!-- CSS-->
  <link href="../../../css/style.css" rel="stylesheet" crossorigin="anonymous">

  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <!-- FontAwesome -->
  <script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
  <!-- Icono Pestaña -->
  <link rel="shortcut icon" href="https://img.icons8.com/color/480/mongodb.png" />

  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="/socket.io/socket.io.js"></script>

  script(src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous")

  <script src="../../../js/funciones.js" crossorigin="anonymous"></script>


</head>

<body style="background-color: #0091AD;">

  script.
    window.addEventListener("beforeunload", function(event) {
      event.returnValue =  "No se recomienda salir de la pagina, se perderan los datos"
    });

<div class="toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="d-flex">
    <div class="toast-body">
      <p id="toast-text"></p>
    </div>
    <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
</div>

  <nav class="navbar navbar-light bg" style="background-color: #26262e;">
    <div class="container">
      <a class="navbar-brand" href="index.html">
        <img src="https://s3-us-west-2.amazonaws.com/devcodepro/media/tutorials/instalacion-de-nodejs-en-ubuntu-t1.jpg" alt="" width="100" height="50">
      </a>
      <a style="color:white" href="">
        <i class="fab fa-github fa-2x"></i>

      </a>
    </div>
  </nav>
  <br><br>
  <div class="container mb-5">

    <div style ="padding:10px">

    <a type="button" class="btn btn-warning mr-2" href='/'>Volver</a>
    <a type="button" class="btn btn-info" onclick="restartServices()">Reiniciar Servicios</a>


    </div>
    - cont = 1;
    - cont_temp = 0;
    - for (var i = 0; i < 2; ++i) {
      <div class="row mt-3 xl-6 sm-3">
        - for (var j = 0; j < 4; ++j) {
        <div class="col-3">
          <div class="card">
            <div class="card-header">
              <p><b>#{cont} de Bascula</b></p>
            </div>
            <div class="card-body">
            form(id="form-user-"+cont, onsubmit="enviarData(this.id)",  onchange="")
              - nombre = "";
              - if ((dataUser[cont_temp]) && dataUser[cont_temp].id_bascula == cont) {
                - nombre = dataUser[cont_temp].nombre ;
                - cont_temp++;
              -}
                <div class="mb-3">
                  <select id="form-select-name" class="form-select" aria-label="Default select example">
                    <option selected>Selecciona el nombre</option>
                      - for (var k = 0; k < dataUser.length; k++) {
                        <option value="#{dataUser[k].nombre}">#{dataUser[k].nombre}</option>
                      - } 
                  </select>
                </div>
                <div class="mb-3">
                  input(type="text" class="form-control" id="nombre" name="nombre" placeholder="Usuario" value=nombre required)
                </div>
                <div class="mb-3">
                  <label for="">Registro</label>
                  input(type="text" class="form-control"  id="data-"+cont  name="data" placeholder="Registro" required readonly)
                </div>
                <div class="mb-3">
                  <label for="total">Total</label>
                  input(type="text" class="form-control"  id="total"  name="total" placeholder="Total" required readonly)
                </div>
                <div class="mb-3">
                <label for="vagoneta">Vagoneta</label>
                  input(type="text" class="form-control"  id="vagoneta" name="vagoneta"  placeholder="Vagoneta" required )
                </div>
                <div class="mb-3" style="text-align:center">
                  h2(class="led" id="led-"+cont  name="led")
                </div>
                <div class="mb-3">
                  input(type="text" class="form-control"  id="bascula" name="bascula"  placeholder="Identificador" style=" visibility: hidden;" value=cont required readonly )
                </div>
                input(type="submit" class="btn btn-success" id="guardar-"+cont style="margin-right: 2px" value="Guardar")  
            </form> 
            </div>
          </div>
        </div>
        - cont++;
        - }
      </div>
    - }

  </div>
  <br><br><br>

</body>

</html>


